<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This is a test p tag to test change</p>
    <img class="portrait" src="/img/profile.png">
</div>

{{>footer}}
</body>
</html>